/*Content*/
#Aboutcontent-first{
  width:100%;
}
.imgBack{
  float:left;
  width:10%;
  height: 100%;
}
#imgBackbtn{
  border: none;
  background-color: white;
  float: right;
  position: relative;
  top:10%;
}
#Aboutcontent{
  float:right;
  position:relative;
  height:100%;
  width:90%;
 background-color: white;
}
/*---------------------*/
#AboutL{
  width:600px;
  float: left;
  position: relative;
  top:8%;
  left:8%;
}
#AboutR{
  width:600px;
  float:right;
  position: relative;
  right:5%
}
#picOn{
  width:600px;
  height: 350px;
}
#pic1{
  float:left;
  width:300px;
  height: 350px;
  background-color: white;
}
#pic2{
  float:right;
  width:300px;
}
#picUn{
  height:600px;
  height:350px;
}
#pic3{
  float:left;
  width:300px;
}
#pic4{
  float : right;
  width:300px;
  height:350px;
  color:white;
  background-color: #8BC9C0 ;
}
/*-----------------------txt-----------*/
#imgBack{
  position:relative;

}
.Abouttxt{
  position: relative;
  top:80px;
  left:20px;
}
#AbouttxtR{
  position:relative;
  top:350px;
  left:20px;
}
